<?xml version="1.0"?>
<package xmlns="http://schemas.microsoft.com/packaging/2011/08/nuspec.xsd">
  <metadata>
    <version><%= component_version %></version>
    <authors><%= component_author %></authors>
    <owners>Paul Betts</owners>
    <licenseUrl>https://components.xamarin.com/license/<%= component_id %></licenseUrl>
    <projectUrl>https://components.xamarin.com/view/<%= component_id %></projectUrl>

    <id>xamstore-<%= component_id %></id>
    <title><%= component_title %></title>
    <summary><%= component_summary %></summary>
    <requireLicenseAcceptance>false</requireLicenseAcceptance>
    <description><%= component_description %></description>
  </metadata>

  <files>
    <file src="build/<%= component_id %>.props" target="build/monoandroid/xamstore-<%= component_id %>.props" />
    <file src="build/<%= component_id %>.props" target="build/monotouch/xamstore-<%= component_id %>.props" />
    <file src="README.txt" target="README.txt" />
  </files>
</package>
